.show-button-true{
    background-color: activecaption;
    font-family: Century Gothic;
    height: 25px;
    width: 25px;
}
.show-button-false{
    background-color: brown;
    font-family: Century Gothic;
    height: 25px;
    width: 25px;
}