<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <link href="resources/css/style.css" rel="stylesheet"/>
    </h:head>
    <h:body>
        <h:form id="form">
            Настройки:
            <p/>
            Размерность:
            <h:inputText value="#{life.xSize}" />
            X
            <h:inputText value="#{life.ySize}" />
            <p/>
            Для зарождения новой жизни соседей: 
            <h:inputText value="#{life.kolForLife}" />
            <p/>
            <h:commandButton action="#{life.settings()}" value="Применить параметры"/>
            <br/>
            <table>
                <c:set var="iiter" value="0"/>
                <c:forEach var="row" items="#{life.output}">
                    <tr>
                        <c:set var="jiter" value="0"/>
                        <c:forEach items="#{row}" var="value">
                            <c:if test="#{value}">
                                <td><h:commandButton class="show-button-true" action="#{life.change(iiter, jiter)}" value=""/></td>
                            </c:if>
                            <c:if test="#{!value}">
                                <td><h:commandButton class="show-button-false" action="#{life.change(iiter, jiter)}" value=""/></td>
                            </c:if>
                            <ui:param name="jiter" value="#{jiter+1}"/>
                        </c:forEach>
                    </tr>
                    <ui:param name="iiter" value="#{iiter+1}"/>
                </c:forEach>
            </table>
            <h:commandButton id="nextStep" action="#{life.nextStep()}" value="Следующий шаг"/>
        </h:form>
    </h:body>
</html>

